<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="<? $_ENV['APP_NAME']; ?>">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
